<h1> Create a new contact: </h1>
<p> Please enter the requested information below to create a new contact</p>

<form action="/contacts" method="post">
  <p><strong>First name:</strong> <input type="text" name="first_name"></p>
  <p><strong>Last name: </strong><input type="text" name="last_name"></p>
  <p><strong>E-mail: </strong><input type="text" name="email"></p>
  <p><strong>Notes: </strong><input type="text" name="note"></p>
  <input type="submit" name"Submit">
</form>