<h1> Create a new contact: </h1>

<div class="width-container">
  <p> Please enter the requested information below to create a new contact</p>

  <form action="/contacts" method="post">
    <div class="row-fluid">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
    </div>
    <div class="row-fluid">
      <input type="text" class="long" name="email" placeholder="E-mail">
    </div>
    <div class="row-fluid">
      <input class="long" type="text" name="note" placeholder="Note">
    </div>
    <input class ="submit-button" type="submit" name"Add">
  </form>
</div>