<div id="start-homepage" class="panel">
  <h2> What would you like to do? </h2>
</div>

<a href="/contacts/new">
  <div id="add-homepage" class="panel">
    <h2> + </h2>
    <h3> Add a new contact </h3>
  </div>
</a>


<a href="/contacts">
  <div id="display-homepage" class="panel">
    <img src="menu-alt-512.png" />
    <h3> Display all your contacts </h3>
  </div>
</a>
